/** 
* STYLING IN THIS FILE FOLLOWS THE FOLLOWING FORMAT:
* TAG, OR-TAGS {
*  POSITION: ATTRIBUTES;
*  POSITION: DETAILS;
*
*  SIZE: ATRIBUTES;
*  SIZE: DETIALS;
*  EXAMPLE: ETC;
*
*  STYLING: ATTRIBUTES;
*  MORE: STYLING;
*  STYLING:DETAILS;
*
*  MORE: ETC;
* }
*
* MAIN COLORS FOR THE APPLICATION
*
* SPACE - #2E3131
* SMOOTHE BLUE - #1B77D3
* SMOOTHE GREY - #DADFE1
*
*/

/**
 * ensure the main app container is at full height
 * so that the background can be changed by the dark and light modes in App.js
 */
#app-container {
  height:100%;
}

/**
 * this class controls the color scheme of the light mode controlled in App.js
 */
.light {
  background-color: #DADFE1;
  color: #2E3131;
}

/**
 * this class controls the color scheme of the dark mode controlled in App.js
 */
.dark {
  background-color: #2E3131;
  color: #DADFE1;
}

/**
 * this controls the styling for the main application header in Header.js
 */
#header{
  background-color: #1B77D3;
  padding: 1rem;
}

/**
 * this controls the styling for the main application header logo in Header.js
 */
#header-logo {
  margin-left: auto;
  margin-right: auto;

  max-height: 50px;
}

/**
 * this controls the styling for the main application nav in Nav.js
 */

#nav-menu >div>a{
  text-decoration: none;
  color: #DADFE1;
}

#nav-toggle {
  z-index: 1000;
  position: fixed;
  bottom:25px;
  right:25px;

  width: 65px;
  height: 65px;

  background-color: #1B77D3;
  border: solid #DADFE1 2px;
  border-radius: 50%;
}

/**
 * this controls the styling for the menu-icon in Nav.js
 */
#nav-status-icon {
  position: absolute;
  top:25%;
  right:25%;

  width:50%;
  height:50%;
  transform: scale(1.15);
}

/**
 * this controls the styling for the menu-icon in Nav.js
 */
 #nav-menu {
   position: fixed;
   right: 0px;
   bottom: 0px;
   
   
   border-radius: 50%;
   /* border: solid #DADFE1 2px; */
   transform: translate(50%,50%);
   background: rgb(46,49,49);
   background: radial-gradient(circle, rgba(46,49,49,1) 30%, rgba(27,119,211,1) 70%);
   
 }

 .open {
  width: 500px!important;
  height: 500px!important;
  transition-duration: 2s;
 }

 .close {
  width: 0px!important;
  height: 0px!important;
  transition-duration: 2s;
 }


 @keyframes grow {
   0% {
     width:0px;
     height:0px;
   }
   100% {
     width:500px;
     height:500px;
   }
 }

 

/**
 * this controls the styling for the sign up component in SignUp.js
 */
#sign-up {
  text-align: center;
  margin-top: 1rem;
}

#sign-up > div {
  width: 250px;
  margin-right: auto;
  margin-left: auto;

}

#sign-up > div > a , #modal-content > a{
  display: block;
  
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;

  text-decoration: none;
  color: #DADFE1;
  background-color: #1B77D3;
  border: none;
}

#sign-in, #register {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
}

#sign-in > .form-field, #register > .form-field {
  width: 250px;
  margin-bottom: 1rem;
  
}

#sign-in > div > input[type='email'],
#sign-in > div > input[type='password'],
#register > div > input[type='email'],
#register > div > input[type='password'] {
  display:block;
  width: 246px;
  border-radius: 10px;
  height: 40px;
  font-size: 1rem;

  color: #DADFE1;
  background-color: #4A4F4F;
  border: none;
}

.form-input {
  display:block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;

  height: 40px;
  font-size: 1rem;
  font-family:'Roboto';

  border-radius: 10px;
  color: #DADFE1;
  background-color: rgba(74, 79, 79, 0);
  border: none;
}

.form-field {
  position: relative;
}



.input-container{
  
  background-color: #4A4F4F;
  border-radius: 10px;
  margin:0.5rem;
}

.input-container > textarea {
  resize: vertical;
  height: 100px;
  width: 92%;
}

.blurred {
  position: absolute;
  top: 0.7rem;
  left: 2rem;
  height: 1rem;
  transition: 0.75s;
}
.focused {
  position: absolute;
  top:-1.25rem;
  left:1.25rem;
  font-size: 0.9rem;
  transition: 0.75s;
}
#new-exercise {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.exercise-media, .exercise-instruction {
  padding: 1rem;
  background-color: #4A4F4F;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 92%;
}
.closed-modal {
  display: none;
}
.open-modal {
  display: block;
}

#modal {
  text-align: center;
  position: fixed;
  top:0px;
  left:0px;
  width: 100%;
  height:100%;
  background-color: rgba(46, 49, 49, 0.8);
}

#modal-content {
  position:relative;
  top:25%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  border-radius: 10px;
  
  border: solid #DADFE1 2px;
  background-color: #2E3131;
}

#close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #DADFE1;
  background-color: #1B77D3;
  border: solid #DADFE1 2px;
  border-radius: 50%;
}


/* #new-exercise >.form-field >textarea {
  display:block;
  max-width: 100%;
  border-radius: 10px;
  height: 40px;
  font-size: 1rem;

  font-family:'Roboto';

  color: #DADFE1;
  background-color: #4A4F4F;
  border: none;
} */

#sign-in > div > button,
#register > div > button {
  width: 100%;

  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;

  color: #DADFE1;
  background-color: #1B77D3;
  border: none;
}

.btn {
  display: block;
  width: 96.5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;

  color: #DADFE1;
  background-color: #1B77D3;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.delete {
  background-color: rgba(205, 15, 15, 1);
}

/* EXERCISE RELATED STYLING */

#exercises {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#new-exercise-link{
  display: block;
  margin: 0.5rem;
  
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;

  text-decoration: none;
  text-align: center;
  color: #DADFE1;
  background-color: #1B77D3;
  border: none;
}

#search-list { 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#search-list > .form-field {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search-list-item {
  display: block;
  margin: 0.5rem;
  
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;

  text-decoration: none;
  text-align: center;
  color: #DADFE1;
  background-color: #4A4F4F;
  border: none;
}

#footer {
  text-align: center;
}