/** 
* STYLING IN THIS FILE FOLLOWS THE FOLLOWING FORMAT:
* TAG, OR-TAGS {
*  POSITION: ATTRIBUTES;
*  POSITION: DETAILS;
*
*  SIZE: ATRIBUTES;
*  SIZE: DETIALS;
*  EXAMPLE: ETC;
*
*  STYLING: ATTRIBUTES;
*  MORE: STYLING;
*  STYLING:DETAILS;
*
*  MORE: ETC;
* }
*
* MAIN COLORS FOR THE APPLICATION
*
* SPACE - #2E3131
* SMOOTHE BLUE - #1B77D3
* SMOOTHE GREY - #DADFE1
*
*/

/**
 * ensure the main app container is at full height
 * so that the background can be changed by the dark and light modes in App.js
 */
#app {
  height:100%;
}

/**
 * this class controls the color scheme of the light mode controlled in App.js
 */
.light {
  background-color: #DADFE1;
  color: #2E3131;
}

/**
 * this class controls the color scheme of the dark mode controlled in App.js
 */
.dark {
  background-color: #2E3131;
  color: #DADFE1;
}

/**
 * this controls the styling for the main application header in Header.js
 */
#header{
  background-color: #1B77D3;
  padding: 1rem;
}

/**
 * this controls the styling for the main application header logo in Header.js
 */
#header-logo {
  margin-left: auto;
  margin-right: auto;

  max-height: 50px;
}

/**
 * this controls the styling for the main application nav in Nav.js
 */
#nav-toggle{
  position: fixed;
  bottom:25px;
  right:25px;

  width: 65px;
  height: 65px;

  background-color: #1B77D3;
  border: solid #DADFE1 2px;
  border-radius: 50%;
}

/**
 * this controls the styling for the menu-icon in Nav.js
 */
#nav-status-icon {
  position: absolute;
  top:25%;
  right:25%;

  width:50%;
  height:50%;
  transform: scale(1.15);
}

/**
 * this controls the styling for the sign up component in SignUp.js
 */
#sign-up {
  text-align: center;
}

#sign-up > div {
  width: 250px;
  margin-right: auto;
  margin-left: auto;

}

#sign-up > div > a {
  display: block;
  
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;

  text-decoration: none;
  color: #DADFE1;
  background-color: #1B77D3;
  border: none;
}

#sign-in {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}

#sign-in > .form-field {
  width: 250px;
}

#sign-in > div > input[type='email'],
input[type='password'] {
  display:block;
  width: 246px;
  border-radius: 10px;
  height: 40px;
  font-size: 1rem;
  
  background-color: #4A4F4F;
  border: none;
}

#sign-in > div > input[type='submit'] {
  width: 100%;

  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;

  color: #DADFE1;
  background-color: #1B77D3;
  border: none;
}