/** 
* STYLING IN THIS FILE FOLLOWS THE FOLLOWING FORMAT:
* TAG, OR-TAGS {
*  POSITION: ATTRIBUTES;
*  POSITION: DETAILS;
*
*  SIZE: ATRIBUTES;
*  SIZE: DETIALS;
*  EXAMPLE: ETC;
*
*  STYLING: ATTRIBUTES;
*  MORE: STYLING;
*  STYLING:DETAILS;
*
*  MORE: ETC;
* }
*
* MAIN COLORS FOR THE APPLICATION
*
* SPACE - #2E3131
* SMOOTHE BLUE - #1B77D3
* SMOOTHE GREY - #DADFE1
*
*/

/**
 * ensure the main app container is at full height
 * so that the background can be changed by the dark and light modes in App.js
 */
#app {
  height:100%;
}

/**
 * this class controls the color scheme of the light mode controlled in App.js
 */
.light {
  background-color: #DADFE1;
  color: #2E3131;
}

/**
 * this class controls the color scheme of the dark mode controlled in App.js
 */
.dark {
  background-color: #2E3131;
  color: #DADFE1;
}

/**
 * this controls the styling for the main application header in Header.js
 */
#header{
  background-color: #1B77D3;
  padding: 1rem;
}

/**
 * this controls the styling for the main application header logo in Header.js
 */
#header-logo {
  margin-left: auto;
  margin-right: auto;

  max-height: 50px;
}

/**
 * this controls the styling for the main application nav in Nav.js
 */
#nav-toggle{
  z-index: 1000;
  position: fixed;
  bottom:25px;
  right:25px;

  width: 65px;
  height: 65px;

  background-color: #1B77D3;
  border: solid #DADFE1 2px;
  border-radius: 50%;
}

/**
 * this controls the styling for the menu-icon in Nav.js
 */
#nav-status-icon {
  position: absolute;
  top:25%;
  right:25%;

  width:50%;
  height:50%;
  transform: scale(1.15);
}

/**
 * this controls the styling for the menu-icon in Nav.js
 */
 #nav-menu {
   position: fixed;
   right: 0px;
   bottom: 0px;
   
   
   border-radius: 50%;
   /* border: solid #DADFE1 2px; */
   transform: translate(50%,50%);
   background: rgb(46,49,49);
   background: radial-gradient(circle, rgba(46,49,49,1) 30%, rgba(27,119,211,1) 70%);
   
 }

 .open {
  width: 500px!important;
  height: 500px!important;
  transition-duration: 2s;
 }

 .close {
  width: 0px!important;
  height: 0px!important;
  transition-duration: 2s;
 }


 @keyframes grow {
   0% {
     width:0px;
     height:0px;
   }
   100% {
     width:500px;
     height:500px;
   }
 }

 

/**
 * this controls the styling for the sign up component in SignUp.js
 */
#sign-up {
  text-align: center;
  margin-top: 1rem;
}

#sign-up > div {
  width: 250px;
  margin-right: auto;
  margin-left: auto;

}

#sign-up > div > a {
  display: block;
  
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;

  text-decoration: none;
  color: #DADFE1;
  background-color: #1B77D3;
  border: none;
}

#sign-in, #register {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
}

#sign-in > .form-field, #register > .form-field {
  width: 250px;
  margin-bottom: 1rem;
  
}

#sign-in > div > input[type='email'],
#sign-in > div > input[type='password'],
#register > div > input[type='email'],
#register > div > input[type='password'] {
  display:block;
  width: 246px;
  border-radius: 10px;
  height: 40px;
  font-size: 1rem;

  color: #DADFE1;
  background-color: #4A4F4F;
  border: none;
}

#sign-in > div > button,
#register > div > button {
  width: 100%;

  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;

  color: #DADFE1;
  background-color: #1B77D3;
  border: none;
}
